@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.header {
  background-color: #6930c3;
  padding-bottom: 30px;
  color: white;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 35px;
}

label {
  font-size: 1.2rem;
}

#zip-table {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 70vh;
  justify-content: center;
  align-items: center;
}
.zipcode-container {
  margin: 10px;
  padding: 10px 20px;
  background-color: #64dfdf;
  color: #333;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.zipcode-container:hover {
  background-color: #f5f5f5;
  color: #222831;
  border: none;
}

input {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 8px;
  outline: none;
}

@media (max-width: 500px) {
  input {
    padding: 5px;
  }
  .grid {
    width: 30vh;
  }
}
